## Vyhodnocení testů pro iPad Pro 4. generace

| Test | Datum | Zařízení | Výsledek | Poznámka |
|---|---|---|---|---|
| MT-01 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-02 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-03 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-04 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-05 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-06 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-07 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-08 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-09 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-10 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-11 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-12 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-13 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-14 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-15 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-16 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-17 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-18 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-19 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-20 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-21 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-22 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-N1 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-N2 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-N3 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-N4 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-N5 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-N6 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-N7 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-N8 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-N9 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |
| MT-N10 | 21.5.2026 | iPad Pro 4. generace | Přeskočen | Nelze nasimulovat. |
| MT-N11 | 21.5.2026 | iPad Pro 4. generace | Prošel |  |

## Vyhodnocení testů na Macbook Pro M3
| Test | Datum | Zařízení | Výsledek | Poznámka |
|---|---|---|---|---|
| MT-01 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-02 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-03 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-04 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-05 | 21.5.2026 | Macbook Pro M3 | Neprošel | Lze vymazat použitím touchpadu, nikoliv myši. Bylo by lepší přidat kontextové menu na rightclick. |
| MT-06 | 21.5.2026 | Macbook Pro M3 | Neprošel | Obdobný problém. |
| MT-07 | 21.5.2026 | Macbook Pro M3 | Neprošel | Obdobný problém. |
| MT-08 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-09 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-10 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-11 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-12 | 21.5.2026 | Macbook Pro M3 | Neprošel | V případě, že je soubor ve Finderu na iCloudu, aplikace přestane reagovat. |
| MT-13 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-14 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-15 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-16 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-17 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-18 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-19 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-20 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-21 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-22 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-N1 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-N2 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-N3 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-N4 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-N5 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-N6 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-N7 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-N8 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-N9 | 21.5.2026 | Macbook Pro M3 | Prošel |  |
| MT-N10 | 21.5.2026 | Macbook Pro M3 | Přeskočen | Nelze nasimulovat. |
| MT-N11 | 21.5.2026 | Macbook Pro M3 | Prošel |  |

## Vyhodnocení testů pro iPhone 17 Pro Max

| Test | Datum | Zařízení | Výsledek | Poznámka |
|---|---|---|---|---|
| MT-01 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-02 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-03 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-04 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-05 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-06 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-07 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-08 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-09 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-10 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-11 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-12 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-13 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-14 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-15 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-16 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-17 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-18 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-19 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-20 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-21 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-22 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-N1 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-N2 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-N3 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-N4 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-N5 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-N6 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-N7 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-N8 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-N9 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |
| MT-N10 | 21.5.2026 | iPhone 17 Pro Max | Přeskočen | Nelze nasimulovat. |
| MT-N11 | 21.5.2026 | iPhone 17 Pro Max | Prošel |  |